<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tic Tac Toe" %></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Your init script for selection view-->
    <!-- JS to initialize Materialize Select -->
    <script>
      document.addEventListener('turbo:load', function () {
        const selects = document.querySelectorAll('select');

         // Clean up previously injected dropdowns by Materialize
        document.querySelectorAll('.select-dropdown').forEach(dropdown => dropdown.remove());
        document.querySelectorAll('input.select-dropdown').forEach(input => input.remove());

        M.FormSelect.init(selects);
      });
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/logo.png" type="image/png">
    <%# <link rel="icon" href="/icon.svg" type="image/svg+xml"> %>
    <link rel="apple-touch-icon" href="/logo.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
